body {
    font-size: 2rem;
    width: 900px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: rgba(222, 145, 240, 0.753);
    color:rgba(18, 12, 80, 0.699);
    display: grid;
    font-family: 'Segoe Print';

}
main {
    text-align: center;
}

img {
    width: 45%;
}